.input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.addContactBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.addContactBtn:hover {
  background-color: #808080;
}

.inputTitle {
  margin-bottom: 3px;
}
