body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #495057;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}



.contact-card {
  background-color: #f1f3f5;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-card button {
  width: auto;
  padding: 5px 10px;
  background-color: #dc3545;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-card button:hover {
  background-color: #c82333;
}
